body {
	font-family: Arial, Helvetica, san-serif;
	background-color: moccasin;
}

header {
	background-color: salmon;
	height: 100px;
	margin-bottom: 10px;
	padding-bottom: 1vw;
	display: flex;
	justify-content: space-evenly;
	width: auto;
}

h2 {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	flex-wrap: wrap;
	margin: 10px;
	padding: 10px;
	height: fit-content;
}

h2.locations {
	padding: 12vw;
	margin: 2vw;
}


h3 {
	font-weight: bolder;
	font-size: 2vw;
}

header img {
	image-orientation: flip;
}

div.locations {
	display: flex;
	flex-flow: column;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: space-around;
	border: solid salmon;
	height: fit-content;
	width: fit-content;
	flex-wrap: wrap;
}

div.locations h3 {
	display: flex;
	justify-content: center;
}

p.locations {
	padding-left: 10px;
	padding-right: 10px
}

p.hours {
	display: flex;
	flex-wrap: wrap;
	font-size: 3vw;
	height: fit-content;
	width: fit-content;
	padding-left: 100px;
	padding-right: 100px;
}

div {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 10px;
	padding: auto;
	height: 600px;
}

section.locations {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: 10px;
	padding: 20px;
	height: 450px;
	font-family: Arial, Helvetica, sans-serif;
	flex-wrap: wrap;
}

section.locations h2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

article {
	display: flex;
	flex-wrap: wrap;
}

article.images {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: static;

}

div.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	height: fit-content;

}


section.contact {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: first baseline;
	height: 300px;

}

h2.contact {
	padding-left: 200px;
	padding-right: 200px;

}

section {
	background-color: darkslategray;
	margin: 1vw;
	height: 400px;
	padding: 15px;
}

p {
	margin: 1vw;
	display: flex;
	justify-content: center;
	font-size: 1.5vw;
	flex-wrap: wrap;
	height: fit-content
}

ul {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row;
	max-width: 700px;

}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px;
	padding: 10px;
}



h1 {
	font-weight: bolder;
	font-size: 4vw;
	padding: 1vw;
	margin-left: 7vw;
	display: flex;
	justify-content: center;
	color: moccasin;
	background-color: salmon;
}

nav {
	display: flex;
	justify-content: center;
	padding: 1px;
	background-color: darkslategray;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav ul li:hover {
	background-color: moccasin;
}

nav ul li {
	transition: 2000ms;
	margin-top: 10px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: moccasin;
	font-size: 1.5vw;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: salmon;
	font-weight: bolder;
}



section {
	display: flex;
	justify-content: center;
}

footer {
	background-color: salmon;
	margin-top: 1vw;
	padding-top: 40px;
	display: flex;
	justify-content: center;
}

table {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
	background-color: salmon;
	color: #000;
	width: 990px;
	height: fit-content;
}

table tr td {
	background-color: moccasin;
}

thead td {
	display: flex;
	justify-content: center;
	width: fit-content;
}

th {
	font-weight: bolder;
	border: 1px solid black;
	padding: 5px;
	width: 40px;
	text-align: justify;
}

thead {
	background-color: salmon;
	font-weight: bolder;
	border: 1px solid black;
	width: 920px;
}

thead tr th:nth-of-type(1) {

	border: 1px solid black;
	margin-left: 2px;
	min-width: 62px;
	display: flexbox;
	justify-content: center;
}

tr th {
	width: 60px;
	text-align: justify;
}

tfoot {
	background-color: salmon;
	width: 1000px
}

tfoot td {
	color: black;
	font-weight: bolder;
}

tfoot th {
	width: 62px;
}


td {
	padding: 10px;
	border: 1px solid black;
	width: 40px;
	color: black;
}


form {
	border: 5px solid black;
	padding: 5px;
	width: 400px;
	margin: auto;
}

legend {
	font-weight: bolder;
	text-align: center;
	margin: 10px;
}

label {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 5px;
}

input {
	display: block;
	padding: 5px;
	max-width: 300px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

button {
	display: flex;
	justify-content: center;
}